*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: Arial;
}

html, body{
	height: 100%;
}


body{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #EDEEF0;
}

.line{
	display: flex;
}

.block{
	width: 45px;
	height: 45px;
	background-color: white;
	margin: 2px;
	border-radius: 3px;	
	border: 1px solid #dbdbdb;
	display: flex;
	justify-content: center;
	align-items: center;
}

.block:hover{
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
}